{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- contact-area -->
<section id="contact" class="contact-area pt-70 pb-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center mb-70">
                    <span class="sub-title">Contact</span>
                    <h2 class="title"><span>Contact</span> DLM</h2>
                </div>
            </div>
        </div>
        <div class="contact-info-wrap">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="contact-info-item">
                        <div class="icon">
                            <span class="icon-background"></span>
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="content">
                            <p>contact@dlm.cash <br> help@dlm.cash</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="contact-info-item">
                        <div class="icon">
                            <span class="icon-background"></span>
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="content">
                            <p>+91 89688 24059</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="contact-info-item">
                        <div class="icon">
                            <span class="icon-background"></span>
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="content">
                            <p>Mohali, Punjab</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form-wrap">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <form action="{% url 'contact-us' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-grp">
                            <input name="name" type="text" placeholder="Enter your Name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-grp">
                            <input name="email" type="email" placeholder="Enter you email" required>
                        </div>
                    </div>
                </div>
                <div class="form-grp">
                    <input type="text" name="subject" placeholder="Enter your subject">
                </div>
                <div class="form-grp">
                    <textarea name="massage" placeholder="Enter your massage"></textarea>
                </div>
                <div class="submit-btn text-center">
                    <button type="submit" class="btn">Send Massage</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- contact-area-end -->
{% endblock %}